@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    border:none;
    font-family: "Poppins", sans-serif;
}

:root{
    --nav-bg-color:rgba(255, 255, 255,.1);
    --bg-color:#171f2b;
    --second-bg-color:#1f2733;
    --third-bg-color:#2d3542;
    --main-color:#0ef;
    --white-color:#fff;
    --tab-list-color:#7c8594;
}